/* Rectangle 26 */

.kotak-utama {

    border-radius: 20px 20px;
    position: absolute;
    width: 1366px;
    height: 1099px;
    left: 0px;
    top: 131px;
    background: #1B2223;

}

.h1 {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 502px;
    height: 48px;
    left: 100px;
    top: 172px;

}


.header {

    color: #fff;
    position: relative;
    top: 20px;
    left: 100px;
    right: 764px;
    bottom: 810px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    display: inline-block;
    margin: 10px;
  }

  .search-box {

    position: relative;
    margin: 10px;
    top: 135px;
    left: 100px;
    right: 764px;
    bottom: 743px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    display: inline-block;

  }

  .search-input {

    position: absolute;
    width: 597px;
    height: 40px;
    left: 0px;
    top: 1px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(63, 61, 86, 0.2);
    border-radius: 20px;

  }

  .search-button {

    /* Auto layout */


    position: relative;

    left: 610px;
    width: 69px;
    height: 40px;
    border-radius: 20px;
    background: #135589;
    color: #FFFFFF;

  }

  #cari-text {
    color: #fff;
    font: 'poppins';
  }

  .filter-button {




    position: relative;

    left: 110px;
    top: 145px;
    width: 69px;
    height: 40px;
    border-radius: 20px;
    background: #135589;
    color: #FFFFFF;
    margin-right: 24px;

  }

  .filter-text {

    position: relative;
    width: 145px;
    height: 24px;
    left: 100px;
    top: 150px;

    /* Body */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #FFFFFF;
  }

.filter-icon {
    position: relative;
    top: 150px;
}

.card {
    margin-bottom: 20px;
    width: 144px;
  }

.container {
    position: relative;
    left: 0px;
    top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.col-md-1 {
    flex-basis: 14.28%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination a,
  .pagination span {
    color: #000;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 4px;
  }

  .pagination .prev.disabled,
  .pagination .next.disabled {
    color: #aaa;
  }

  .pagination a.active {
    background-color: #000;
    color: #fff;
  }

  .pagination a:hover {
    background-color: #eee;
  }
