.pekerja-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 198px;
  }

  .pekerja-text {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .pekerja-anda {
    width: 300px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 64px;
    color: #000000;
    margin-left: 16px;
  }

  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 45%;
    transform: translateY(-50%);
    left: -25px;
  }

  .kotak-hitam {
    position: absolute;
    width: 919px;
    height: 71px;
    left: 170px;
    top: 137px;
    background: #1B2223;
    box-shadow: 0px 4px 4px rgba(63, 61, 86, 0.2);
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding-left: 60px;
  }

  .profile-image {
    position: absolute;
    width: 46px;
    height: 45px;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  .halo-username {
    position: absolute;
    width: 600px;
    height: 33px;
    left: 93.7px;
    top: 19px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
  }

  .List-Pekerja {
    position: absolute;
    left: 170px;
    top: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .list-pekerja-1,
  .list-pekerja-2,
  .list-pekerja-3,
  .list-pekerja-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .kotak-abu {
    position: relative;
    width: 867px;
    height: 55.79px;
    background: #DDDDDD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-right: 20px;
  }

  .tombol-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 30px;
    width: 84px;
    height: 56px;
    background: #135589;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }

  .tombol-detail a {
    color: #FFFFFF;
    text-decoration: none;
  }

  .tombol-detail a:visited {
    color: #FFFFFF;
  }


  .nama-pekerja {
    position: absolute;
    width: 800px;
    height: 25px;
    left: 99px;
    top: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #1B2223;
  }
