.pekerja-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 198px;
}

.pekerja-text {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.pekerja-anda {
    width: 300px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 64px;
    color: #000000;
    margin-left: 16px;
}

.arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 45%;
    transform: translateY(-50%);
    left: -25px;
}

.kotak-hitam {
    position: absolute;
    width: 906px;
    height: 71px;
    left: 170px;
    top: 137px;
    background: #1B2223;
    box-shadow: 0px 4px 4px rgba(63, 61, 86, 0.2);
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.profile-image {
    position: absolute;
    width: 46px;
    height: 45px;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.halo-username {
    position: absolute;
    width: 600px;
    height: 33px;
    left: 93.7px;
    top: 19px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.List-Pekerja {
    position: absolute;
    left: 170px;
    top: 285px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kotak-abu {
    position: relative;
    width: 800px;
    height: 55.79px;
    background: #DDDDDD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.tombol-detail {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
    width: 84px;
    height: 56px;
    background: #135589;
    border-radius: 20px;
    flex-shrink: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: -85px;
    margin-left: 825px; /* Menambahkan jarak sebelah kiri tombol-detail */
}

.tombol-detail a {
    color: #FFFFFF;
    text-decoration: none;
}

.tombol-detail a:visited {
    color: #FFFFFF;
}

.nama-pekerja {
    position: absolute;
    width: 700px;
    height: 25px;
    left: 99px;
    top: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #1B2223;
}

.pagination {
    position: relative;
    left: 220px;
    margin-bottom: 50px;

}

.footer {
    width: 1366px;
    height: 100px;
}

.no-prt {
    position: absolute;
    width: 598px;
    height: 409px;
    left: 250px;
    top: -50px;

}
.noprt-text {
    position: absolute;
    width: 460px;
    height: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
    margin-top: 15px;
    text-align: center;

    /* Black */
    color: #1B2223;


}

