.kotak-hitam {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 970px;
    height: 77px;
    background: #1B2223;
    border-radius: 12px;
    margin-top: 180px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.detail-pekerja {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    color: #FFFFFF;
}

.info-pekerja {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.big-profile {
    width: 509px;
    height: 436px;
    border-radius: 23px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 40px;
}

.deskripsi {
    width: 420px;
    height: 440px;
    margin-top: 40px;

}

strong {
    font-weight: bold;
  }


.nama-pekerja {
    width: 400px;
    height: 49px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 36px;
    line-height: 49px;
    text-align: left;
    color: #1B2223;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.rating {
    display: flex;
    align-items: center;
    bottom: 20px;
}

.star-img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background: url(star.png);
}

.rating-text {
    display: flex;
    width: 43px;
    height: 25px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    color: #1B2223;
    margin-right: 10px;
}

.infopekerja {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0px;
    gap: 5px;
    width: 300px;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infopekerja p {
    margin: 0;
    width: 300px;
    height: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1B2223;
}

.deskripsi-pekerja {
    width: 419px;
    height: 160px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.deskripsi-text {
    position: absolute;
    width: 88px;
    height: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #1B2223;
}

.isi-deskripsi {
    width: 419px;
    height: 75px;
    top: 40px;
    padding-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: #1B2223;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 419px;
    height: 36px;
    padding: 0;
    gap: 15px;
    margin-top: 20px;
}

.button-group button {
    position: relative;
    width: 200px;
    height: 36px;
    box-shadow: 0px 4px 4px rgba(63, 61, 86, 0.2);
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
}

.WABtn {
    background-color: #FFFFFF;
    border: 2px solid #3CD070;
    color: #3CD070;
}

.WABtn span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.order {
    background-color: #135589;
    color: #FFFFFF;
    border: none;
}

.order span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.button {
    cursor: pointer;
}

    .wa-admin-1 {
    display: none;
      position: fixed;
      overflow: auto;
      width: 359px;
      height: 376px;
      left: calc(50% - 160px);
      top: 150px;
      z-index: 9999;
      background: #FFFFFF;
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      justify-content: center;
    }

    .overlay {
        display: none;
        position: fixed;
        z-index: 9998;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }


    .popup-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .header-wa {
      position: relative;
      width: 359px;
      height: 82px;
      left: 0;
      top: 0;
      background: linear-gradient(135deg, #81FBB8 0%, #28C76F 100%);
      border-radius: 40px 40px 0px 0px;
    }

    .header-wa img {
      position: absolute;
      width: 51px;
      height: 51px;
      left:25px;
      top: 20px;

    }

    .header-wa-title {
      position: absolute;
      width: 212px;
      height: 30px;
      left: 90px;
      top:22px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    }

    .header-wa-text {
      position: absolute;
      width: 204px;
      height: 19px;
      left: 90px;
      top: 50px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .admin-support-text {
      position: absolute;
      width: 220px;
      height: 27px;
      left: 70px;
      top: 100px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      background: linear-gradient(135deg, #81FBB8 0%, #28C76F 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    .admin-1 {
      position: absolute;
      width: 290px;
      height: 60px;
      left: 40px;
      top: 140px;
      background: linear-gradient(135deg, rgba(129, 251, 184, 0.4) 0%, rgba(40, 199, 111, 0.4) 100%);
      border-radius: 10px;
    }

    .admin-1 img {
      position: absolute;
      width: 60px;
      height: 60px;
      left: 7px;
      top: 1px;
      border-radius: 90px;
    }

    .nama-admin {
      position: absolute;
      width: 120px;
      height: 24px;
      left: 70px;
      top: 10px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size:18px;
      line-height: 24px;
      color: #458275;
    }

    .title-admin {
      position: absolute;
      width: 109px;
      height: 18px;
      left: 70px;
      top: 32px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #72B5A7;
    }

    .kirim-pesan {
      position: absolute;
      width: 80px;
      height: 60px;
      right: 0;
      top: 0;
      background: linear-gradient(135deg, rgba(129, 251, 184, 0.7) 0%, rgba(40, 199, 111, 0.7) 100%);
      border-radius: 10px;
    }

    .kirim-pesan span {
      position: absolute;
      width: 80px;
      height: 32px;
      left: 0;
      top: 14px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }

    .admin-2 {
      position: absolute;
      width: 290px;
      height: 60px;
      left: 40px;
      top: 220px;
      background: linear-gradient(135deg, rgba(129, 251, 184, 0.4) 0%, rgba(40, 199, 111, 0.4) 100%);
      border-radius: 10px;
    }

    .admin-2 img {
      position: absolute;
      width: 60px;
      height: 60px;
      left: 7px;
      top: 1px;
      border-radius: 90px;
    }

    .admin-2 .nama-admin {
      position: absolute;
      width: 140px;
      height: 24px;
      left: 70px;
      top: 10px;
    }

    .admin-2 .title-admin {
      position: absolute;
      width: 115px;
      height: 18px;
      left: 70px;
      top: 32px;
    }

    .button {
      position: absolute;
      width: 150px;
      height: 35px;
      left: 110px;
      top: 305px;
      background: linear-gradient(135deg, #81FBB8 0%, #28C76F 100%);
      border-radius: 20px;
    }

    .button span {
      position: absolute;
      width: 77.4px;
      height: 21px;
      left: 36px;
      top: 7px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
    }


    .wa-admin-2 {
         display: none;
          position: fixed;
          overflow: auto;
          width: 359px;
          height: 535px;
          left: calc(50% - 160px);
          top: 110px;
          z-index: 9999;
          background: #FFFFFF;
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
          border-radius: 40px;
          justify-content: center;
        }

        .adminselect {
            position: absolute;
            width: 290px;
            height: 60px;
            left: 40px;
            top: 105px;
            background: linear-gradient(135deg, rgba(129, 251, 184, 0.4) 0%, rgba(40, 199, 111, 0.4) 100%);
            border-radius: 10px;
          }

          .adminselect img {
            position: absolute;
            width: 60px;
            height: 60px;
            left: 7px;
            top: 1px;
            border-radius: 90px;
          }

          .namaadmin {
            position: absolute;
            width: 160px;
            height: 24px;
            left: 70px;
            top: 10px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size:18px;
            line-height: 24px;
            color: #458275;
          }

          .titleadmin {
            position: absolute;
            width: 120px;
            height: 18px;
            left: 70px;
            top: 32px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #72B5A7;
          }

          .ganti {
            position: absolute;
            width: 80px;
            height: 60px;
            right: 0;
            top: 0;
            background: linear-gradient(135deg, rgba(129, 251, 184, 0.7) 0%, rgba(40, 199, 111, 0.7) 100%);
            border-radius: 10px;
          }

          .ganti span {
            position: absolute;
            width: 80px;
            height: 32px;
            left: 0;
            top: 14px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          }

          .sendbutton {
            position: absolute;
            width: 196px;
            height: 35px;
            left: 85px;
            top: 480px;
            background: linear-gradient(135deg, #81FBB8 0%, #28C76F 100%);
            border-radius: 20px;
          }

          .sendbutton span {
            position: absolute;
            width: 89px;
            height: 21px;
            left: 50px;
            top: 7px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
          }

          .namasection {
            position: absolute;
            width: 220px;
            height: 27px;
            left: 10px;
            top: 180px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            background: linear-gradient(135deg, #81FBB8 0%, #28C76F 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }

          .pesansection {
            position: absolute;
            width: 150px;
            height: 27px;
            left: 42px;
            top: 350px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            text-align: left;
            background: linear-gradient(135deg, #81FBB8 0%, #28C76F 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }

          .prtsection {
            position: absolute;
            width: 280px;
            height: 27px;
            left: 42px;
            top: 265px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            text-align: left;
            background: linear-gradient(135deg, #81FBB8 0%, #28C76F 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }

          .inputnama {
            position: absolute;
            width: 290px;
            height: 40px;
            left: 42px;
            top: 210px;
            background: linear-gradient(135deg, rgba(129, 251, 184, 0.25) 0%, rgba(40, 199, 111, 0.25) 100%);
            border-radius: 5px;
            border: none;
            outline: none;
            padding: 5px;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #458275;
            padding-left: 15px;
        }

        .inputprt {
            position: absolute;
            width: 290px;
            height: 40px;
            left: 42px;
            top: 300px;
            background: linear-gradient(135deg, rgba(129, 251, 184, 0.25) 0%, rgba(40, 199, 111, 0.25) 100%);
            border-radius: 5px;
            border: none;
            outline: none;
            padding: 5px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #458275;
            padding-left: 15px;
        }

        .textarea-container {
            position: absolute;
            width: 290px;
            height: 79px;
            left: 42px;
            top: 380px;
            background: linear-gradient(135deg, rgba(129, 251, 184, 0.25) 0%, rgba(40, 199, 111, 0.25) 100%);
            border-radius: 5px;
          }

          .textarea-container textarea {
            position: absolute;
            width: 260px;
            height: 79px;
            left: 15px;
            top: 6px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #458275;
            border: none;
            outline: none;
            background: transparent;
            resize: none;
          }

          .textarea-container textarea::placeholder {
            color: #458275;
          }


          .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
          }

          .kirim-pesan {
            cursor: pointer;
          }

          .ganti {
            cursor: pointer;
          }
