@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    width: 1366px;
    height: 725px;
  }

  .navbar {
    position: absolute;
    width: 1366px;
    height: 85px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .navbar .menu {
    display: flex;
    gap: 36px;
    list-style-type: none;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 5px;
  }

  .navbar .menu-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  .navbar .logo {
    width: 129px;
    height: 53px;
    margin-right: 100px;
    margin-left: 100px;
  }

  .navbar .menu-item:last-child {
    margin-right: 100px;
  }

  .navbar .menu-item a {
    color: #000000;
    text-decoration: none;
  }
