@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,800,500,700");

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px !important;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    z-index: 999; /* Atur z-index navbar */
  }

  .navbar .logo {
    width: 129px;
    height: 53px;
    margin-left: 40px;
    transition: transform 0.2s ease;
  }

  .navbar .logo:hover {
    transform: rotate(-5deg);
  }

  .navbar-nav .nav-item .nav-link {
    font-family: 'Poppins' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000 !important;
    transition: color 0.3s ease;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: #135589 !important;
  }

  .navbar-nav {
      margin-left: 20px;
      display: flex;
      gap: 20px;
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
  }

  .navbar-nav .nav-item:not(:last-child) {
    margin-right: 0; /* Mengubah margin-right menjadi 0 untuk elemen terakhir */
  }

  @media (min-width: 1366px) {
    .navbar-nav {
      justify-content: center;
      width: 1660px;
      margin-left: auto;
      margin-right: auto;
    }
  }


  .landing-page .footer-5b8Urw {
    background-color: var(--black);
    height: 458px;
    left: 0px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 1366px;
  }

  .landing-page .frame-369-5b8Urw {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: auto;
    left: 100px;
    position: absolute;
    top: 76px;
    width: fit-content;
  }

  .landing-page .frame-349-Vxp0GB {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 33px;
    height: auto;
    position: relative;
    width: fit-content;
  }

  .landing-page .frame-354-fzMkWp {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    height: auto;
    justify-content: space-between;
    position: relative;
    width: 1166px;
  }

  .landing-page .frame-370-Ov0F41 {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    position: relative;
    width: fit-content;
  }

  .landing-page .group-352-t0xcWi {
    background-color: transparent;
    height: 50px;
    min-width: 186px;
    position: relative;
  }

  .landing-page .rectangle-66-8Z4Hno {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 50px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 186px;
  }

  .landing-page .group-2-1-8Z4Hno {
    height: 36px;
    left: 28px;
    position: absolute;
    top: 7px;
    width: 129px;
  }

  .landing-page .pt-adi-perkasa-guna-tbk-t0xcWi {
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page .frame-347-Ov0F41 {
    align-items: flex-end;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    position: relative;
    width: fit-content;
  }

  .landing-page .frame-344-uyhxxM {
    align-items: flex-end;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
    position: relative;
    width: fit-content;
  }

  .landing-page .hubungi-kami-Lmu07w {
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 24px;
    margin-top: -1px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page .frame-346-uyhxxM {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 16px;
    height: auto;
    position: relative;
    width: fit-content;
  }

  .landing-page .frame-345-8pg1FE {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    gap: 10px;
    height: auto;
    mix-blend-mode: normal;
    padding: 10px;
    position: relative;
    width: fit-content;
  }

  .landing-page .x24-call-call-phone-run2Td {
    background-color: transparent;
    height: 24px;
    min-width: 24px;
    mix-blend-mode: normal;
    position: relative;
  }

  .landing-page .icon-call-HlXCU3 {
    background-color: transparent;
    height: 20px;
    left: 2px;
    mix-blend-mode: normal;
    position: absolute;
    top: 2px;
    width: 20px;
  }

  .landing-page .frame-343-8pg1FE {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    gap: 10px;
    height: auto;
    mix-blend-mode: normal;
    padding: 10px;
    position: relative;
    width: fit-content;
  }

  .landing-page .x24-basic-mail-kq5ltU {
    background-color: transparent;
    height: 24px;
    min-width: 24px;
    mix-blend-mode: normal;
    position: relative;
  }

  .landing-page .icon-mail-O0FOIL {
    background-color: transparent;
    height: 18px;
    left: 1px;
    mix-blend-mode: normal;
    position: absolute;
    top: 3px;
    width: 22px;
  }

  .landing-page .vector-12-fzMkWp {
    background-color: transparent;
    height: 2px;
    min-width: 1165px;
    position: relative;
  }

  .landing-page .frame-367-fzMkWp {
    align-self: stretch;
    justify-content: space-between;
  }

  .landing-page .frame-365-teNKeH {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 17px;
    height: auto;
    position: relative;
    width: fit-content;
  }

  .landing-page .tentang-kami-8DBn3R {
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 24px;
    margin-top: -1px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page .platform-penyedia-ja-dzvJ5f {
    color: var(--white);
    height: 56px;
    line-height: 24px;
    margin-top: -1px;
    width: 393px;
  }

  .landing-page .frame-366-teNKeH {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 17px;
    height: auto;
    position: relative;
    width: fit-content;
  }

  .landing-page .syarat-dan-ketentuan-VKw6fV {
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 24px;
    margin-top: -1px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page .pelanggan-ODWLUu {
    font-weight: 500;
    line-height: 24px;
    margin-top: -1px;
    text-align: left;
  }

  .landing-page .mitra-ODWLUu {
    background-color: transparent;
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page .frame-367-teNKeH {
    flex-direction: column;
    gap: 17px;
    width: fit-content;
  }

  .landing-page .program-kami-X1zhR6 {
    background-color: transparent;
    letter-spacing: 0px;
    line-height: 24px;
    margin-top: -1px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page .kerja-sama-mitra-4nOjpR {
    background-color: transparent;
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: -1px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page .pencarian-prt-4nOjpR {
    background-color: transparent;
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page .copyright-aperga-202-Vxp0GB {
    background-color: transparent;
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    mix-blend-mode: normal;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 1166px;
  }

  .landing-page .frame-364 {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;
    position: relative;
    width: fit-content;
  }

  .landing-page .frame-367 {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    height: auto;
    position: relative;
  }

  .landing-page .group-2-1 {
    background-color: transparent;
    mix-blend-mode: normal;
  }

  .landing-page .img {
    background-color: transparent;
    mix-blend-mode: normal;
    object-fit: cover;
    position: relative;
  }

  .landing-page .pelanggan {
    background-color: transparent;
    color: var(--white);
    font-style: normal;
    mix-blend-mode: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .landing-page .platform-penyedia-ja {
    background-color: transparent;
    font-style: normal;
    font-weight: 700;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
    opacity: 0;
    animation: slideFromLeft 0.5s ease forwards;
  }

  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .landing-page .text-only {
    background-color: transparent;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxs);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: normal;
    margin-top: -1px;
    mix-blend-mode: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }


