@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,800,500,700");

.kotak-hitam {
    position: absolute;
    width: 100%;
    height: 2000px;
    left: 0;
    top: 166px;
    background: #1B2223;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 050);
}

.bank-title {
    position: absolute;
    width: 900px;
    height: 68px;
    left: calc(50% - 280px);
    top: -40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 49px;
    text-align: right;
    color: #1B2223;
    flex: none;
    order: 0;
    flex-grow: 0;
    line-height: 16px;
    z-index: 2;
}

.content {
    display: flex;
    text-align: center;
    gap: 40px;
    margin-top: 40px;
    margin-left: 198px;
    flex-direction: column;
    align-items: center;
}


.banktext {
    position: absolute;
    width: 800px;
    height: 45px;
    left: calc(50% - 400px);
    top: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}

.timer-text {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 340px);
    top: 840px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-hour {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 480px);
    top: 895px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-minute {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 345px);
    top: 895px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timersplit {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 412px);
    top: 890px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-split {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 275px);
    top: 890px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-desc {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 480px);
    top: 945px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-desc-1 {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 345px);
    top: 945px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-desc-2 {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 195px);
    top: 945px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-second {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 200px);
    top: 895px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}



.total-pembayaran {
    position: relative;
    width: 500px;
    height: 41px;
    left: calc(50% - 255px);
    top: 280px;
    gap: 20px;
}

.total-pembayaran-text {
    position: absolute;
    width: 350px;
    height: 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.total-pembayaran-text {
    position: absolute;
    width: 350px;
    height: 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.total-bayar {
    position: absolute;
    width: 400px;
    height: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    margin-left: 36px;
    line-height: 41px;
    padding-right: 50px;

    color: #E88A33;
    left: 320px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 427px;
    height: 36px;
    margin-top: 30px;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 30px;
}

.button-group button {
    width: 150px;
    height: 36px;
    border: 2px solid rgba(19, 85, 137, 1);
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}


.button-group button.lanjutkan-pembayaran {
    position: absolute;
    width: 360px;
    height: 48px;
    left: calc(50% - 170px);
    top: 300px;
    background: #135589;
    mix-blend-mode: normal;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}


.button-group button.lanjutkan-pembayaran:hover {
    background: #0f456e;
}

.instruksi {
    position: relative;
    width: 650px;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    left: calc(50% - 310px);
    top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instruksi-pembayaran {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    width: 530px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.deskripsi-pembayaran {
    width: 550px;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: justify;
}

.deskripsi-pembayaran::before {
    content: '';
    display: inline-block;
    width: 0%;
}

.deskripsi-pembayaran::after {
    content: '';
    display: inline-block;
    width: 50%;
}


.bankoption {
    position: relative;
    z-index: 2;
    width: 580px;
    height: 92.67px;
    left: calc(50% - 280px);
    top: 160px;
    background: #135589;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(63, 61, 86, 0.2);
}

.bank-logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 40px;
    width: 68px;
    height: 61px;
}

.bank-text {
    position: absolute;
    width: 350px;
    height: 33px;
    left: 120px;
    top: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    width: 580px;
    left: calc(50% - 280px);
    top: 250px;
    background: #C4E3FB;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(63, 61, 86, 0.2);
}

.dropdown-item {
    display: flex;
    align-items: center;
    height: 80px;
    width: 580px;
    border-bottom: 3px solid #000;
}

.dropdown-item:last-child {
    padding-top: 20px;
    border-bottom: none; /* Menghilangkan garis pembatas di dropdown menu item terakhir */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdown-item input[type="radio"] {
    margin-right: 20px;
    display: none;
}

.dropdown-item label {
    position: relative;
    padding-left: 30px;
    margin-left: 20px; /* Mengubah jarak antara icon radio button dan teks menjadi 20px */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #135589;
    background-color: transparent;
}

.dropdown-item label:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border: 4px solid #135589;
    border-radius: 50%;
}

.dropdown-item input[type="radio"]:checked + label:before {
    background: #fff; /* Mengubah warna latar belakang radio button menjadi putih saat diklik */
    border-color: #135589;
}

.dropdown-item input[type="radio"]:hover + label:before {
    background: #fff; /* Mengubah warna latar belakang radio button menjadi putih saat dihover */
}

.dropdown-item:hover {
    background: #135589;
}

.dropdown-item:hover label {
    color: #FFFFFF;
}

.dropdown-item:hover label:before {
    border-color: #FFFFFF;
}

.arrow {
    position: absolute;
    width: 44px;
    height: 24px;
    left:480px;
    top: 38px;

}

.bankprofile {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    width: 550px;
    height: 400px;
    left: calc(50% - 260px);
    top: 240px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bank-logo-item {
    position: absolute;
    left: 95px;
    top: 45px;
    width: 355px;
    height: 206px;
}

.payment-number-text {
    position: absolute;
    width: 100%;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    left: 10px;
    top: 260px;
    text-align: center;
    color: #1B2223;
}

.payment-number {
    position: absolute;
    width: 100%;
    height: 40px;
    top:295px;
    left: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #135589;
    }

    .payment-owner {
        position: absolute;
        top: 340px;
        width: 100%;
        height: 30px;
        left: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #4D4A4A;
    }


