@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,800,500,700");

.kotak-hitam {
    position: absolute;
    width: 100%;
    height: 3000px;
    left: 0;
    top: 166px;
    background: #1B2223;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 050);
}

.transfer-virtual-account {
    position: absolute;
    width: 900px;
    height: 68px;
    left: calc(50% - 280px);
    top: -40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 49px;
    text-align: right;
    color: #1B2223;
    flex: none;
    order: 0;
    flex-grow: 0;
    line-height: 16px;
    z-index: 2;
}

.content {
    display: flex;
    text-align: center;
    gap: 40px;
    margin-top: 40px;
    margin-left: 198px;
    flex-direction: column;
    align-items: center;
}

.qr-code {
    position: absolute;
    width: 368px;
    height: 368px;
    top: 30px;
    left: calc(50% - 280px);
    background-size: cover;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    scale: 0.5;
    transition: transform 0.08s ease-in-out;
}

.qr-code:hover {
    transform: scale(1.2);
}

.text {
    position: absolute;
    width: 800px;
    height: 45px;
    left: calc(50% - 400px);
    top: 535px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}

.total-pembayaran {
    position: absolute;
    width: 500px;
    height: 41px;
    left: calc(50% - 300px);
    top: 1020px;
    gap: 20px;
}

.total-pembayaran-text {
    position: absolute;
    width: 300px;
    height: 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.total-bayar {
    position: absolute;
    width: 300px;
    height: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-left: 36px;
    line-height: 41px;
    padding-right: 50px;

    color: #E88A33;
    left: 320px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 427px;
    height: 36px;
    margin-top: 30px;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 30px;
}

.button-group button {
    width: 150px;
    height: 36px;
    border: 2px solid rgba(19, 85, 137, 1);
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.button-group button.lanjutkan-pembayaran {
    position: absolute;
    width: 360px;
    height: 48px;
    left: calc(50% - 170px);
    top: 1300px;
    background: #135589;
    mix-blend-mode: normal;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}

.button-group button.lanjutkan-pembayaran:hover {
    background: #0f456e;
}

.instruksi {
    position: absolute;
    width: 650px;
    height: 350px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    left: calc(50% - 315px);
    top: 660px;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instruksi-pembayaran {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 60px;
    top: -5px;
    margin-top: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.deskripsi-pembayaran {
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24x;
    line-height: 26px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
}


.timer-text {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 340px);
    top: 1100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-hour {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 480px);
    top: 1160px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-minute {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 345px);
    top: 1162px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timersplit {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 412px);
    top: 1155px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-split {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 275px);
    top: 1155px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-desc {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 480px);
    top: 1215px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-desc-1 {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 345px);
    top: 1215px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-desc-2 {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 195px);
    top: 1215px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.timer-second {
    position: absolute;
    width: 700px;
    height: 45px;
    left: calc(50% - 200px);
    top: 1163px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
